@import '~bootstrap/dist/css/bootstrap.css';

table{
  //border: 1px solid black;
}

table td{
 width: 200px;
 text-align: left;
 padding: 1px 10px;
 //border: 1px solid black;
}

table tr{
  padding: 1px;
}
