<div style="width: 450px; margin: 0 auto;">
<form #f="ngForm" (ngSubmit)="onSubmit();">
<table>
<div class="form-group">
<tr>
  <td><label for="firstName"> First Name </label></td>
  <td><input type="text" required [(ngModel)]="firstName" name="ufName" class="form-control" width="60px" minlength="3" maxlength="10" (blur)="logData(firstName)" />
  </td>
</tr>
</div>

<div class="form-group">
<tr>
  <td><label for="lastName"> Last Name </label></td>
  <td><input type="text" [(ngModel)]="lastName" name="ulName" ngModel class="form-control" /></td>
</tr>
</div>

<div class="form-group">
<tr>
  <td><label for="steet"> Street </label></td>
  <td><input type="text" [(ngModel)]="street" name="uStreet" ngModel class="form-control" /></td>
</tr>
</div>

<div class="form-group">
<tr>
  <td><label for="city"> City </label></td>
  <td><input type="text" [(ngModel)]="city" name="uCity" ngModel class="form-control" /></td>
</tr>
</div>

<div class="form-group">
<tr>
  <td><label for="state"> State </label></td>
  <td><input type="text" [(ngModel)]="state" name="uState" ngModel class="form-control" /></td>
</tr>
</div>

<div class="form-group">
<tr>
  <td><label for="postalCode"> Postal Code </label></td>
  <td><input type="text" [(ngModel)]="postalCode" name="uPostalCode" ngModel class="form-control" /></td>
</tr>
</div>

<div class="form-group">
<tr>
  <td><label for="mobile"> Mobile </label></td>
  <td><input type="text" [(ngModel)]="mobile" name="uMobile" ngModel class="form-control" /></td>
</tr>
</div>

<div class="form-group">
<tr>
  <td><label for="email"> Email </label></td>
  <td><input type="text" [(ngModel)]="email" name="uEmail" ngModel class="form-control" /></td>
</tr>
</div>

<tr>
  <td colspan="2" align="center">
    <button name="submit" type="submit" (onclick)="submitForm();" >Submit</button>
  </td>
</tr>

</table>
</form>
</div>
